.mainLab {
    -fx-font-size: 45px;
    -fx-font-weight: bold;
    -fx-text-fill: #bafffd;
    -fx-effect: dropshadow( gaussian , rgba(13,105,103,0.9) , 0,0,4,4 );
}

.lab {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #004b52;
    -fx-effect: dropshadow( gaussian , rgba(106, 153, 177, 0.9), 0,0,2,2 );
}

.error {
    -fx-font-size: 32px;
    -fx-text-fill: #FF0000;
    -fx-effect: dropshadow( gaussian , rgba(161, 0, 0, 0.9), 0,0,1.5,1.5 );
}

.button {
    -fx-background-color:
            linear-gradient(rgba(68, 163, 175, 0.8), rgba(9, 137, 168, 0.85)),
            linear-gradient(rgba(108, 181, 194, 0.87), rgba(57, 148, 175, 0.87)),
            linear-gradient(rgba(52, 121, 142, 0.85), rgba(12, 91, 94, 0.82)),
            linear-gradient(rgba(75, 187, 191, 0.84) 0%, rgba(10, 159, 186, 0.83) 50%, rgba(16, 120, 137, 0.78) 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #004b52;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}
.button:hover {
    -fx-background-color:
            linear-gradient(rgba(107, 191, 201, 0.8), rgba(101, 163, 179, 0.85)),
            linear-gradient(rgba(153, 218, 229, 0.87), rgba(135, 207, 229, 0.87)),
            linear-gradient(rgba(156, 200, 213, 0.85), rgba(164, 223, 226, 0.82)),
            linear-gradient(rgba(145, 214, 217, 0.84) 0%, rgba(171, 219, 227, 0.83) 50%, rgba(107, 153, 161, 0.78) 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #08383d;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.button:pressed {
    -fx-background-color:
            linear-gradient(rgba(75, 128, 134, 0.8), rgba(71, 126, 141, 0.85)),
            linear-gradient(rgba(85, 159, 172, 0.87), rgba(81, 137, 154, 0.87)),
            linear-gradient(rgba(68, 119, 134, 0.85), rgba(58, 118, 121, 0.82)),
            linear-gradient(rgba(78, 155, 158, 0.84) 0%, rgba(93, 174, 187, 0.83) 50%, rgba(83, 146, 156, 0.78) 100%),
            linear-gradient(from 0% 0% to 15% 50%, rgba(255,255,255,0.9), rgba(255,255,255,0));
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #08383d;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 10 20 10 20;
}

.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

